<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Credentials</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
    <form>
        <h1>Datos Incorrectos</h1>
        <p>El nombre de usuario o la contraseña son incorrectos.</p>
        <a href="/">Volver al Menú Principal</a>
    </form>
</body>
</html>
