{% extends 'base.html' %}
{% block content %}
<h1>Nuestra Ubicación</h1>
<p>Visítanos en nuestra tienda física y descubre nuestros peluches caseros en persona.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1166.3362030485914!2d-66.82867930868711!3d10.495011873960019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a59cbca2746bd%3A0xfccc4385c36177c8!2sUniversidad%20Alejandro%20de%20Humboldt!5e0!3m2!1ses!2sve!4v1740664509567!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
