<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de Datos de Usuarios</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Base de Datos de Usuarios</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password (Hash)</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in lista_usuarios %}
                <tr>
                    <td>{{ usuario[0] }}</td>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/index_admin/">Volver</a>
</body>
</html>
