<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario ya existente</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
    <form>
        <h1>Usuario ya existente</h1>
        <p>El nombre de usuario que intentaste registrar ya está en uso. Por favor, elige un nombre de usuario diferente.</p>
        <a href="/register/">Volver a Intentar Registrarse</a>
    </form>
</body>
</html>
